<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']">Welcome</a>
      <mat-divider [inset]="true"></mat-divider>

      <a mat-list-item [routerLink]="['/changedetection']">Change Detection</a>
      <mat-divider [inset]="true"></mat-divider>

      <a mat-list-item [routerLink]="['/whysignals']">Non Reactive Variable</a>
      <mat-divider [inset]="true"></mat-divider>

      <a mat-list-item [routerLink]="['/variablevssignal']"
        >Reactive Variable vs Signal</a
      >
      <mat-divider [inset]="true"></mat-divider>

      <a mat-list-item [routerLink]="['/createreadsignal']"
        >Create and Read Signal</a
      >
      <mat-divider [inset]="true"></mat-divider>

      <a mat-list-item [routerLink]="['/writesignal']">Write Signal</a>
      <mat-divider [inset]="true"></mat-divider>

      <a mat-list-item [routerLink]="['/computedeffect']">Computed & Effect</a>
      <mat-divider [inset]="true"></mat-divider>

      <a mat-list-item [routerLink]="['/signalvsobs']">Signal Vs Observable</a>
      <mat-divider [inset]="true"></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular Signals</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
