<!-- <img src="angularsignals-sm.jpg" crossOrigin="anonymous" alt="signals image" /> -->

<mat-card>
  <mat-card-header>
    <mat-card-title>Discover Angular Signals</mat-card-title>
  </mat-card-header>

  <br />
  <mat-card-content>
    <mat-divider></mat-divider>
    <br />
    Discover *Angular Signals* - a new way to handle data flow in your apps! ⚡️
    Let's explore its strengths/weaknesses and its impact on our projects. 🧐🔍
  </mat-card-content>
  <br />
  <mat-card-content>
    <mat-divider></mat-divider>
    <br />

    🤔 <b>Signals address:</b><br />
    🚫 Monkey-patching async/await<br />
    🐌 Inefficient change detection<br />
    🔮 Zone.js errors<br />
    🐘 Overhead from Zone.js<br />

    <br />

    🏗️<b> Solutions:</b><br />
    ✅ Native async/await support<br />
    ✅ No more Zone.js & monkey patching<br />
    ✅ Reduced bundle size<br />
    ✅ Targeted updates for better performance<br />

    <br />
    📈 <b>Strengths:</b><br />
    ✅ Automatic dependency tracking<br />
    ✅ Glitch-free execution<br />
    ✅ Dynamic dependency tracking<br />
    ✅ Equality semantics & value versioning<br />
    ✅ Lifecycle management & garbage collection<br />
    <br />

    📉 <b>Weaknesses:</b><br />
    🚩 Complexity<br />
    🚩 Performance overhead<br />
    🚩 Unspecified execution timing<br />
    🚩 Learning curve<br />
  </mat-card-content>
</mat-card>
